<h1>What does <%= @word.word() %> mean??</h1>
<form>
<form action="/definitions" method="post">
  <label for="inputted_definition">New album:</label>
    <input id="inputted_definition" name="inputted_definition" type="text">

    <button type="submit">That's what it means!</button>
</form>
