<h1>WELCOME TO YOUR WORD DEFINITION WEBSITE</h1>
<br>
<h3>
  <a href="/words">See word list</a>      <!-- takes us to the word list -->
  <br><br>
  <a href="/word/new">Add a new word</a> <!--takes us to new word form-->
</h3>
