<h1>Type your word here</h1>
<br>

<form action="/words" method="post">
  <label for="inputted_word">New word:</label>
    <input id="inputted_word" name="inputted_word" type="text">
    <button type="submit">That's my word!</button>
</form>

<br><br>
<h3>
  <a href="/words">Go back to the word list</a>
</h3>
