<h1>Add a definition for <%= @word.word() %> </h1>

<form action="/definitions" method="post">
  <input id='word_id' name='inputted_definition' type='hidden' value='<%= @word.id() %>'>
  <label for='definition'>definition:</label>
  <input id='definition' name='definition' type='text'>

  <button type="submit">Add Definition</button>
</form>
