<h1>Click on a word to see what it means</h1><br>
<h2>
<ul style="list-style: none;">
  <% @words.each() do |word| %>
    <li><a href="/word/<%= word.id() %>"><%= word.word() %></a></li>
  <% end %>
</ul>
</h2>
<br><br>
<h3>
  <a href="/word/new">Add a new word</a>
</h3>
