<h1>Type your word here</h1>

<form action="/words" method="post">
  <label for="inputted_word">New word:</label>
    <input id="inputted_word" name="inputted_word" type="text">
    <button type="submit">That's my word!</button>
</form>

<a href="/">Return to Main Page</a>
