<h2>
  <!-- defined word below -->
  <%= @word.word() %> means
  <!-- definition below -->
  <% @word.all_words().each() do |all_words| %>
    <%= all_words.definition() %>
  <% end %>
</h2>





<a href="/words/<%= @word.id()%>/definition/new" <% @word.all_words().each() do |all_words| %>
  <%= all_words.definition().clear() %><% end %>>Add a definition</a>
<a href="/">Return to Main Page</a>
