<h1>WORD.ERB</h1>

<h2><%= @word.word() %></h2>
<h2>Definition should appear here</h2>

<ul>
  <% @word.all_words().each() do |all_words| %>
    <li><a href="/definitions/<%= all_words.id() %>"><%= all_words.definition() %></a></li>
  <% end %>
</ul>

<a href="/words/<%= @word.id()%>/definition/new">Add a definition</a>
<a href="/">Return to Main Page</a>
