<h2>
  <!-- defined word below -->
  <%= @word.word() %> means: <br>
  <!-- definition below -->
  <% @word.all_words().each() do |all_words| %>
    <%= all_words.definition() %><br>
  <% end %>
</h2>
<br>
<h3>
  <a href="/words/<%= @word.id()%>/definition/new" <% @word.all_words().each() do |all_words| %>
  <%= all_words.definition() %><% end %></h3><br><h3>Add a definition</a>
  <br><br>
  <a href="/words">Go back to the word list</a>
</h3>
